text.month-name,
text.day-initial {
  font-size: 10px;
  fill: #aaaaaa;
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
.day-cell {
  border: 1px solid gray;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
.cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}
.cell-tooltip > span {
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
